<div class="col-md-3">
    <ul class="list-group" style="font-size: larger; text-align: center;">
        <li id="item-1" class="list-group-item"><a href="{{ url_for('user_detail') }}">个人信息</a></li>
        <li id="item-2" class="list-group-item"><a href="{{ url_for('user_pwd') }}">修改密码</a></li>
        <li id="item-3" class="list-group-item"><a href="{{ url_for('user_info') }}">修改资料</a></li>
        <li id="item-4" class="list-group-item"><a href="{{ url_for('user_delete') }}">注销账号</a></li>
        <li id="item-5" class="list-group-item"></li>
        <li id="item-6" class="list-group-item"><a href="">我上传的相册</a></li>
        <li id="item-7" class="list-group-item"><a href="">我收藏的相册</a></li>
        <li id="item-8" class="list-group-item"><a href="">我关注的好友</a></li>
        <li id="item-9" class="list-group-item"><a href="">关注我的粉丝</a></li>
    </ul>
</div>