<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('user_detail') }}">个人信息</a></li>
        <li class="list-group-item"><a href="{{ url_for('user_pwd') }}">修改密码</a></li>
        <li class="list-group-item"><a href="{{ url_for('user_info') }}">修改资料</a></li>
        <li class="list-group-item"><a href="{{ url_for('user_delete') }}">注销账号</a></li>
        <li class="list-group-item"></li>
        <li class="list-group-item">我上传的相册</li>
        <li class="list-group-item">我收藏的相册</li>
        <li class="list-group-item">我关注的好友</li>
        <li class="list-group-item">关注我的粉丝</li>
    </ul>
</div>