{% extends "layout.html" %}

{% block content %}
    {% for message in get_flashed_messages(category_filter=['error']) %}
        <h3 style="color: red">{{ message }}</h3>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=['ok']) %}
        <h3 style="color: green">{{ message }}</h3>
    {% endfor %}
    <form method="post" class="col-md-6 col-md-offset-2">
        <div class="form-group">
            <label for="user_name">用户名</label>
            <input id="user_name" name="user_name" class="form-control" type="text"
                   value="{{ request.args.get('username', '') }}" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="user_pwd">密码</label>
            <input id="user_pwd" name="user_pwd" class="form-control" type="password">
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-success" value="登录">
        </div>
    </form>
{% endblock %}